.post {
  color: inherit;
  line-height: 1.75;
}

.post a {
  color: #6464ff;
}

.post table {
  border: solid 1px #dddddd;
  border-collapse: collapse;
  width: 100%;
  font-size: 0.9rem;
}
.post th {
  background-color: #eeeeee;
  text-align: center;
}
.post th,
.post td {
  border: solid 1px #dddddd;
  padding: 0.3rem 0.6rem;
}

.post h1 {
  font-size: 2em;
}
.post h2 {
  font-size: 1.5em;
}
.post h3 {
  font-size: 1.17em;
}
.post h4 {
  font-size: 1em;
}
.post h5 {
  font-size: 0.83em;
}
.post h6 {
  font-size: 0.67em;
}

.post blockquote {
  border-left: solid 2px #dddddd;
  padding-left: 1rem;
  color: #888888;
}

.post code {
  font-family: 'Consolas', monospace;
  background-color: #fff4f4;
  color: #FF4F4F;
  font-weight: 600;
  padding: 2px 4px;
  font-size: 0.9rem;
}

.post img,
.post iframe {
  max-width: 100%;
}
